{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Categories</title>
{% block page_content %}
<body>
  <div>
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'blog_category' category.name %}">{{ category.name }}</a></li>
        {% empty %}
            <li>No categories available.</li>
        {% endfor %}
    </ul>
  </div>
  {% block makeCategory %}
  <div>
    <form method="post">
        <h5>Make a Category</h5>
        {% csrf_token %}
            {{ form.name }}
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
  {% endblock %}
</body>
{% endblock %}