<!--  blog/templates/blog/detail.html -->
{% extends "base.html" %}

{% block page_title %}
    <h2>{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ post.created_on.date }} at {{ post.created_on.time}} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small>
    <p>
      By <a href="{% url 'profile' post.author %}">{{ post.author }}</a>
</p>
    <p>{{ post.body | linebreaks }}</p>
    <div>
        <img src="{{ post.image.url }}" alt="{{ post.image.name }}">
    </div>
        <h3>Leave a comment:</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
            On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
            {{ comment.body | linebreaks }}
        </p>
    {% endfor %}

{% endblock page_content %}