{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block page_title %}
    <title>Create Recipe</title>
{% endblock page_title %}

{% block page_content %}
<body>
    <h1>Create Recipe</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.title }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <nav>
        <div>
            <ul class="dropdown-menu", style="height:30%; overflow:hidden; overflow-y:scroll;">
                {{ form.categories }}
              </ul>
        </div>
        </nav>
        <div>
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'blog_index' %}">Cancel</a>
    </form>
</body>
{% endblock page_content %}
