<!-- blog/templates/blog/index.html -->
{% extends "base.html" %}
{% load static %}

<title>Cooking for Neanderthals</title>
{% block page_title %}
    <h2>Everything that the user {{ profile }} has posted</h2>
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            {% if post.author == profile %}
                <h3>{{ post.author }} posted: <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
                <small>
                    {{ post.created_on.date }} | Tags:
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">
                            {{ category.name }}{% if not forloop.last %}, {% endif %}
                        </a>
                    {% endfor %}
                </small>
            {% endif %}
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}