<head>
    <meta charset="utf-8">
    <title>My Personal Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/9cbbd8e6-8714-4754-824f-0a79000aa06a/favicon.ico?v=1733976526774">
</head>
<body>
    <div class="topnav">
        <h1>My Personal Blog</h1>
        {% if user.is_authenticated %}
            <p>
                Welcome, {{ user.username.lower }}!
                <a href="{% url 'logout' %}">Logout</a>
                <a href="/admin">Admin Site</a>
                <a href="{% url 'makepost' %}">Make a New Post</a>
            </p>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <a href="{% url 'blog_index' %}">Home</a>
        <a href="{% url 'viewCategory' %}">Categories</a>
    </div>
    <hr>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
    {% block footer %}{% endblock footer %}
</body>