<head>
    <meta charset="utf-8">
    <title>Cooking for Neanderthals</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}"> 
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/9cbbd8e6-8714-4754-824f-0a79000aa06a/favicon.ico?v=1733976526774">
    <h1>Cooking for Neanderthals</h1>
<div id="navbar">
        {% if user.is_authenticated %}
                <a id="name" class="button" href="{% url 'profile' user.pk %}">{{ user.username }}</a>
                <a class="button" href="{% url 'logout' %}">Logout</a>
                {% if user.is_staff %}
                <a class="button" href="/admin">Admin Site</a>
                {% if user.is_superuser %}
                <a class="button" href="https://glitch.com/edit/#!/busy-antique-product">Editor</a>
                {% endif %}
                {% endif %}
                <a class="button" href="{% url 'makepost' %}">Make a New Recipe</a>
        {% else %}
            <a class="button" href="{% url 'login' %}">Login</a>
            <a class="button" href="{% url 'register' %}">Register</a>
        {% endif %}
        <a class="button" href="{% url 'blog_index' %}">Home</a>
        <a class="button" href="{% url 'viewCategory' %}">Categories</a>
      
    </div>
    <hr>
</head>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
    {% block footer %}{% endblock footer %}
